<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App</title>
        <style>
            .done {
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="msg in ErrorMessages">{{ msg }}</li>
            </ul>
            <input type="text" v-model="inputText"/>
            <button @click="addTodo">追加</button>
            <ul>
                <li v-for="todo in todos" :key="todo.text" :class="{ done : todo.done }">
                    {{ todo.text }}
                    <input type="checkbox" @click="doneTodo(todo)"/>
                </li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="./main.js"></script>        
    </body>
</html>